{% extends 'base.html' %}

{% block title %} {{title}} Feedback {% endblock %}

{% block content %}
<h2>{{title}} Feedback Entry</h2>
<div class="container-md col-6-lg" style="max-width: 25rem;">
    <form id="feedback-form" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <div class="form-group">

            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <small class="form-text text-muted">
                {{ error }}
            </small>
            {% endfor %}
        </div>


        {% endfor %}
        <br>
        <button class="btn btn-success btn-lg" type="submit">Submit</button>
        <a href="/" class="btn btn-secondary btn-sm">Cancel</a>
    </form>
</div>


{% endblock %}